 
*, 
*:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   } 

   @font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Thin';
    src: url('./fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  html
  {
      font-size:100%;
      overflow-y: scroll;
  }
  
  body
  {
      -webkit-font-smoothing:antialiased;
      color:rgba(0,0,0,.8);
      font-size:14px;
      font-weight:300;
      line-height:1.4;
      text-rendering:optimizeLegibility;
      font-family: 'Roboto';
      margin:0px
      }
  

      :root {
        --font-monospace: "Roboto Mono", monospace;
    }
    
    body {
        font-family: var(--font-monospace);
        font-size: 16px;
        line-height: 1.5rem;
    }

  h1
  {
      color:rgba(0,0,0,.75);
  }
  
  .wrapper
  {
      height:100%;
  }
  
  .left
  {
      background-color:#cce3ff75;
      float:right;
      height:100%;
      margin-left:-1px;
      min-width:256px;
      position:fixed;
      width:30%;
    
  }
  
  .right
  {
      float:right;
      height:100%;
      position:relative;
      width:70%;
  }
  
  
  .name-hero
  {
      background:rgba(0,0,0,.001);
      bottom:0;
      height:290px;
      left:0;
      margin:auto;
      position:absolute;
      right:0;
      top:0;
      width:85%;
      text-align: center;
  }
  .me-img:hover {
    filter: grayscale(5%);
  }
  .me-img
  {
      
      background-size:100%;
      background-position:0px;
      border-radius:100%;
      height:160px;
      margin:0 auto;
      position:relative;
      width:150px;
      filter: grayscale(25%); 
  }
  
  .name-hero h1
  {
      font-family:Open Sans, sans-serif;
      font-size:1.5em;
      text-align:center;
  }
  
  .name-hero h1 em
  {
      color:rgba(0,0,0,.3);
      font-style:normal;
      font-weight:700;
  }
  
  .name-hero p
  {
      color:rgba(0,0,0,.5);
      font-size:.75em;
      line-height:1.5;
      text-align:center;
  }
  
  .name-hero .name-text
  {
      margin:0 auto;
        }
  
  .inner
  {
      margin:0 auto;
      max-width:975px;
      padding:3em;
      font-size: normal;

      
  }
  
  .inner h1
  {
      font-size:1.75em;
  }
  
  .inner p a
  {
      color:rgba(54, 53, 53, 0.75);
      font-style:normal;
      text-decoration: none;
  }
  
  .inner p em
  {
      color:rgba(54, 53, 53, 0.75);
      font-style:normal;
  }
  
  .inner section
  {
      margin:50px auto;
  }
  
  ul
  {
    margin-top:-10px;
    max-width:760px;
  }

  .social-icons li {
      display: inline;
  }
 
  a
  {
      color:rgba(54, 53, 53, 0.75);
      font-style:normal;
      text-decoration: none;
  }
  
  @media screen and (max-width: 48em) {
      .right,.left
      {
          float:none;
      position:relative !important;
          width:100%;
      min-height:560px;
      }
    .handmade {
    text-align:center !important;
    margin-top:0px !important;
  }
  
  @media screen and (max-width: 75em) {
      body
  { font-size:16px;}
  }
  
  @media screen and (max-width: 60em) {
      body
  { font-size:14px;}
  }
  .clearfix:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }


}
.bottom-text {
    width: 100%;
    text-align:right;
    margin-top:200px; 
  }

.social-icons{
    margin-top: 15px;
    text-align: center;
    padding: 0px;
}
 

.social-icons a.twitter{
    text-decoration: none;
    color:#000000;
} 

.social-icons a.twitter:hover{
    text-decoration: none;
    background-color:#000000;
    color: #fff;
} 


.social-icons a.orcid{
    text-decoration: none;
    color:#A6CE39;
} 

.social-icons a.orcid:hover{
    text-decoration: none;
    background-color:#A6CE39;
    color: #fff;
} 


.social-icons a.linkedin{
    text-decoration: none;
    color:#0A66C2; 
}

.social-icons a.linkedin:hover{
    text-decoration: none;
    background-color:#0A66C2;
    color: #fff;
}
.social-icons a.researchgate{
    text-decoration: none;
    color:#00CCBB;
}

.social-icons a.researchgate:hover{
    text-decoration: none;
    background-color:#00CCBB;
    color: #fff;
}
.social-icons a.scholar{
    text-decoration: none;
    color:#4285F4;
}

.social-icons a.scholar:hover{
    text-decoration: none;
    background-color:#4285F4;
    color: #fff;
}
.social-icons a.github{
    text-decoration: none;
    color:#181717;
}
.social-icons a.github:hover{
    text-decoration: none;
    background-color:#181717;
    color: #fff;
}


.thin-text{
    font-family: 'Roboto Thin';
}

.social-icons a {
    width: 32px;
    height: 32px;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 12px;
    transition: all 0.8s ease-in-out;
    background-color: #fff;
}

 


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

 
/* Top menu added apr 2023 */
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #333;
    border-bottom: #ccc 1px solid;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: rgb(189, 189, 189);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {color: #111;}
  
  ul.topnav li a.active {color: #000000;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
 
 